streamlit
google-genai  
langchain
torch
torchvision 
sentence-transformers 
scikit-learn   
pypdf  
nbconvert  
ipython  
matplotlib  
seaborn 
pandas 
python-dotenv
protobuf==4.25.3
chromadb==0.4.24